.nav-link {
    color: #333;
  }
  .search-button {
    background-color: #3665f3;
    color: white;
  }
  .banner {
    background-color: #f5f5f5;
  }
  .category-icons {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
  }
  .category-icons img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .category-label{
    margin-top: 10px;
    text-align: center;
  }

  .custom-gray-bg {
    background-color: #f5f5f5; 
    padding: 20px; 
    border-radius: 5px; 
}
.category-label {
  font-family: 'Roboto', sans-serif;
  font-size: 14px; 
  font-weight: bold;
  text-align: center; 
}

.category-scroll {
    overflow-x: auto;
    white-space: nowrap;
}

.category-scroll .col {
    display: inline-block;
    float: none;
}

.custom-width {
    width: 713px; 
    height: 825px; 
  }

  .custom-widthh {
    width: 100%;
  }
  

.btn-toggle {
    border: 1px solid #ced4da;
    background-color: white; 
    color: #191919; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.btn-toggle.active {
    background-color: #191919; 
    color: white; 
}

.btn-check:checked + .btn-toggle {
    background-color: #191919; 
    color: white; 
}

.btn-check:not(:checked) + .btn-toggle {
    background-color: white; 
    color: #191919; 
}


  .btn-social {
    border: 1px solid #ced4da;
    background-color: white;
    color: #212529;
  }
  .btn-social:hover {
    background-color: #f8f9fa;
  }
  .form-check-input:checked {
    background-color: #e53238;
    border-color: #e53238;
  }

  .smiling-image {
    margin-left: 150px; 
  }

  .form-margin {
    margin-right: 130px;
}
.custom-margin {
    margin-right: 130px; 
}
