<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:fragment="layout(content)"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- <header class="bg-products text-white py-3">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-3">
            <h1 class="h3 mb-0">TeknoyMart</h1>
          </div>
          <div class="col-md-6"></div>
          <div class="col-md-3 text-end">
            <div class="align-items-center">
              <a href="/login" class="text-decoration-none text-white me-2"
                >Sign in</a
              >
              <a href="/register" class="text-decoration-none text-white me-2">Register</a>
              <a href="/admin" class="text-decoration-none text-white me-2">Admin</a>
              <a href="/seller" class="text-decoration-none text-white me-2">Seller</a>
            </div>
          </div>
        </div>
      </div>
    </header> -->

    <header class="border-bottom bg-maroon">
      <div class="container">
        <div class="row py-2 align-items-center">
          <div class="col d-flex align-items-center">
            <th:block th:if="${user==null}">
              <small class="me-1 text-white">Hi!</small>
              <a href="/login" class="text-decoration-underline me-1"
                ><small class="text-decoration-underline" style="color: white"
                  >Sign in</small
                ></a
              >
              <small class="me-1 text-white">or</small>
              <a href="/register" class="text-decoration-underline"
                ><small class="text-decoration-underline text-white"
                  >Register</small
                ></a
              >
              <!-- <span class="me-1">or</span>
              <a href="/admin" class="text-decoration-underline">Admin</a>
              <span class="me-1">or</span>
              <a href="/seller" class="text-decoration-underline">Seller</a> -->
            </th:block>

            <th:block th:if="${user!=null}">
              <div class="dropdown d-inline-block me-3">
                <button
                  class="btn btn-link text-decoration-none p-0 dropdown-toggle text-body"
                  type="button"
                  id="myEbayDropdown"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <small class="fw-bold"
                    >Hi,
                    <span class="text-decoration-underline"
                      >[[${user.name}]]</span
                    ></small
                  >
                </button>
                <ul class="dropdown-menu" aria-labelledby="myEbayDropdown">
                  <li>
                    <a class="dropdown-item" href="/myaccount"
                      ><small
                        ><i class="bi bi-person-circle me-2"></i>My
                        Account</small
                      ></a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="/logout"
                      ><small
                        ><i class="bi bi-box-arrow-in-left me-2"></i
                        >Logout</small
                      ></a
                    >
                  </li>
                </ul>
              </div>
            </th:block>
          </div>
          <div class="col d-flex justify-content-end align-items-center">
            <a href="/products" class="text-decoration-none me-3 text-white"
              ><small>Products</small></a
            >
            <!-- <div class="dropdown d-inline-block me-3">
              <button
                class="btn btn-link text-decoration-none p-0 dropdown-toggle text-body"
                type="button"
                id="myEbayDropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                My TeknoyMart
              </button>
              <ul class="dropdown-menu" aria-labelledby="myEbayDropdown">
                <li>
                  <a class="dropdown-item" href="/myaccount">My Account</a>
                </li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
              </ul>
            </div> -->
            <a href="#" class="text-decoration-none me-3 text-white">
              <i class="bi bi-bell"></i>
            </a>
            <a href="/cart" class="text-decoration-none text-white">
              <i class="bi bi-cart3"></i>
            </a>
          </div>
        </div>
      </div>
    </header>
    <div th:replace="${content}"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
